body {
  height: 3000px;
  padding-top: 60px;
}

.flex {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(147, 142, 142);
  background-color: aliceblue;
  border-radius: 2px;

  /* Position css*/
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 25px;
  z-index: 1;
}

.div1,
.div2,
.div3,
.div4 {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.div1 {
  border: none;
}

.div2 {
  flex: 2;
}

.div3 {
  flex: 3;
}

.div4 {
  flex: 4;
  text-align: right;
  padding-right: 10px;
}

.div1:hover,
.div2:hover,
.div3:hover,
.div4:hover {
  background-color: rgb(147, 142, 142);
  color: rgb(239, 227, 227);
}

img {
  width: 20px;
  height: 25px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 20px;
}

@media (max-width: 380px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 381px) and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 600px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.div5 {
  height: 150px;
  background-color: lightblue;
  margin-top: 5px;
  position: relative;
}
.div6 {
  height: 150px;
  background-color: rgb(221, 134, 134);
  margin-top: 5px;
  position: relative;
}
.absolute {
  background-color: rgb(137, 133, 133);
  border-radius: 2px;
  color: white;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
